doctype !!!5
html
  head
    title #{title} - Tom's Animals
    link(rel='stylesheet', href='http://178.62.116.220/stylesheets/css/stylesheet.css')
  body
    header
      h1 #{animal}
    .container
      .main-content
        img(src='#{image}')
    footer
      p  Viewed #{count}