/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-May-2015, 14:23:52
    Author     : thomas.stammers
*/
body {
  width: 1024px;
  margin: 0 auto;
}
